@import url("https://fonts.googleapis.com/css?family=Tangerine&display=swap");
.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    //font-family: "Tangerine", cursive;
    //font-size: 5vw;
    // width: 50%;
    // height: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    width: 20px;
    //padding: 0.5vw;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
